:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --border-color:                 #e9eaeb;
  --featured-border-color:        #727aab;
  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-bold:             700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

/*HEADER*/
ul { 
    margin: 35px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
a {
    color: rgb(99, 98, 98);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    
    position: relative;
  }
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover{
    color: #edb288;
  }
a:hover:after { 
    width: 100%; 
    left: 0; 
  }
@media screen and (max-height: 400px) {
      ul {
          margin-top: 80px;
      }
  }
/*SLIDER*/
.container{
    width: 100%;
    height: 45vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content:center ;
}
.container h1{
    font-size: 40px;
    font-weight: 300;
}
span{
    color: #edb288;
    font-size: 80px;
}
/*CARDS*/
.icon-image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 90px;
  }
  
  .icon-image-large {
    width: 90.4px;
    height: 90.4px;
  }
  .section-title-wrap {
   background-color: #edb288;
   border-radius: 50px;
    padding: 10px 10px;
    width: 900px;
    color: white;
  }
  /*PORTFOLİO CARDS*/
  .portfolio{
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    justify-content: center;
    box-sizing: border-box;
   
  }
  .projects-thumb {
    background-color: #f9f9f9;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 40px 36px 40px 36px;
    transition: all ease 0.5s;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    
  
  }
  
  .projects-thumb:hover {
    border-color: #edb288;
  }
  
  .projects-thumb:hover .projects-image,
  .projects-thumb:focus .projects-image {
    transform: rotate(0) translateY(0);
  }
  
  .projects-thumb .popup-image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .projects-image {
    border-radius: 50px;
    display: block;
    width: 100%;
    transform: rotate(10deg) translateY(80px);
    transition: all ease 0.5s;
  }
  .projects-image{
    object-fit: cover;
    width: 300px;
    height: 400px;
  }
  .projects-title {
    margin-bottom: 20px;
  }
  
  .projects-tag {
    
    
    color: rgb(99, 98, 98);
    text-transform: uppercase;
    margin-bottom: 5px;
  }

/*CONTACT*/
.contact {
  background: var(--section-bg-color);
}

.contact-info {
  background-color: #f9f9f9;
  border-top-right-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  padding: 60px 30px 30px 30px;
  height: 100%;
}

.contact-info-border-start {
  border-right: 1px solid var(--border-color);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.contact-form {
  margin-left: 10px;
}




/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 50px;
  position: relative;
  left: -205px;
  
}

.social-icon-link {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-large);
  font-size: var(--copyright-font-size);
  color: var(--dark-color);
  display: inline-block;
  vertical-align: top;
  margin: 2px 2px 5px 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.social-icon-link:hover {
  background: var(--secondary-color);
  border-color: transparent;
  color: var(--white-color);
}



.contact-info {
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  padding: 40px 30px;
  display: flex;
}

.contact-info-border-start {
  border-right: 0;
  border-bottom: 1px solid var(--border-color);
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}



.footer-menu {
  margin: 0;
  padding: 0;
  
}
.myFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  left: -144px;
  
}

.footer-menu-link {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-medium);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px 9px;
  min-width: 70px;
  font-size: 13px;
}

.footer-menu-link:hover {
  background-color: #edb288;
  border-color: transparent;
  color: var(--white-color);
}


.profile-thumb {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.profile-title {
  border-bottom: 1px solid var(--border-color);
  padding: 15px 30px;
}

.profile-small-title {
  border-right: 1px solid var(--border-color);
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  min-width: 140px;
  margin-right: 10px;
  padding: 13px 30px;
  display: inline-block;
}

.profile-body p {
  margin-bottom: 0;
}

.profile-body p:nth-of-type(even) {
  background: var(--white-color);
}

.about-image {
  border-radius: var(--border-radius-medium);
}

.about-thumb {
  padding-right: 20px;
  padding-left: 20px;
}

.about-text{
  color:rgb(99, 98, 98);
  
}
@media screen and (max-width){
    header{

    }
  
}